@charset 'UTF-8';
@font-face {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/istok-bold-webfont.woff2') format('woff2'),
         url('../fonts/istok-bold-webfont.woff') format('woff');
    unicode-range: U+0020-007F, U+00A0-00FF, U+2000-206F; /* Basic Latin, Latin-1 Supplement, General Punctuation */
}
*, *::before, *::after { /* csslint allow: universal-selector */
    box-sizing: border-box;
}
a, a:link, a:visited {
    color: #d8b28d;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: #e8a25d;
}
body {
    background-color: #332e2a;
    color: #efe0d1;
    font-family: 'Istok Web', Helvetica, Arial, sans-serif;
    min-width: 320px;
    text-align: center;
}
h1 { /* Name, Code Numbers */
    font-size: 48px;
    font-weight: 700;
    margin: 30px 0;
}
h4 { /* Email, Code Text */
    font-size: 21px;
    font-weight: 700;
    margin: 30px 0;
}
h6 { /* Copyright */
    font-size: 14px;
    margin: 30px 0;
}
nav {
    margin: 40px 0;
}
nav li {
    display: inline-block;
}
nav ul {
    display: inline-block;
    font-size: 0;
}
sup {
    font-size: 0.5em;
    vertical-align: super;
}
.ctr {
    display: inline-block; /* Nests (overlaps) this div. */
    font-size: 1rem; /* Must define or inherits pseudoelement's font-size. */
    vertical-align: middle; /* Vertically aligns this div. */
    width: 100%;
}
.ctr-parent {
    font-size: 0; /* Keeps pseudoelement width 0. */
    height: 100%;
    text-align: center; /* Horizontall aligns its child. */
}
.ctr-parent::before { /* Pseudoelement */
    content: ''; /* Gives pseudoelement existence on the rendered page. */
    display: inline-block; /* Nests (overlaps) pseudoelement. */
    height: 100%; /* Stretches pseudoelement full height of its parent. */
    vertical-align: middle; /* Vertically aligns pseudoelement. */
}
.icon-404 {
    background-image: url('../images/icons/codes/icon-code-404-512px@2x.png');
    background-size: 192px 192px;
}
.icon-j {
    background-image: url('../images/icons/j/og.jpg');
    background-size: 192px 192px;
}
.icon-soc {
    background-image: url('../images/icons/soc/sprite-soc@2x.png');
    background-repeat: no-repeat;
    background-size: 192px 96px;
    float: left;
    height: 48px;
    margin: 0 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 48px;
}
.sect {
    height: 100vh;
    min-height: 440px;
    padding: 0 16px;
    position: relative;
    width: 100%;
}
.splash {
    height: 192px;
    margin: 30px auto;
    width: 192px;
}
.icon-github {
    background-position: -48px 0;
}
.icon-github:hover, .icon-github:active, .icon-github:focus {
    background-position: -48px -48px;
}
.icon-linkedin {
    background-position: -96px 0;
}
.icon-linkedin:hover, .icon-linkedin:active, .icon-linkedin:focus {
    background-position: -96px -48px;
}
.icon-stackoverflow {
    background-position: -144px 0;
}
.icon-stackoverflow:hover, .icon-stackoverflow:active, .icon-stackoverflow:focus {
    background-position: -144px -48px;
}
